body{
    background-color: #1A1A1A;
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif;
    gap : 0;
}

.main{
    gap: 0;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
  
    .main{
        text-align: center;
        max-width: 70%;
        align-items: center;
        margin: 0 auto;
    }


}
