footer{
    margin-top: 50px;
    text-align: left;
    background-color: black;
    max-width: 100dvw;
    width: 100%;
    color: white;
}

.footer-content{
    padding-left: 30px;
}

.footer-content a{
    color: #FF0037;
    display: flex;
    gap: 10px;
}

.footer-content p{
    font-size: 10px;
}

.footer-content a svg{
    max-width: 20px;
}