footer{
    margin-top: 50px;
    padding: 10px;
    text-align: left;
    background-color: black;
    width: 100%;
    color: white;
}

footer a{
    color: #FF0037;
    display: flex;
    gap: 10px;
}

footer p{
    font-size: 10px;
}

footer a svg{
    max-width: 20px;
}