.land-hero {
    position: relative;
    width: 100%;
}

.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

.land-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.336);
    z-index: -1;
    transition: .8s ease-in-out;
}

.land-overlay.scroll{
    background-color: rgb(0, 0, 0);
}

.land-hero:has(.hero-content:hover) .hero-background {
    filter: blur(1px);
}

.land-hero:has(.hero-content:hover) .land-overlay {
    background-color: rgba(0, 0, 0, 0.493);
}

.hero-content {
    position: relative;
    z-index: 1;
    padding: 50px 0; 
}




.land-overlay:hover ~ .hero-background{
    filter: blur(2px);
} 



.land-hero h1{
    padding-left: 20px;
    color: white;
    font-size: large;
    text-align: left;
}

.land-hero h2{
    padding-left: 20px;
    color: white;   
    font-size: small;
    text-align: left;
}

.land-hero p{
    color: white;
    font-size: 15px;
    padding-left: 20px;
    opacity: 0;
    text-align: left;

}

.land-hero button{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    width: 150px;
    background-color: #FF0037;
    border-color: #FF0037;
    color: white;
    border-radius: 5px;
    font-size: medium;
    transition: .6s ease-out;
    padding: 5px;
}

.land-hero a{
    text-decoration: none ;
}

.land-hero button img{
    max-height: 25px;
    padding-right: 10px;
}

.land-hero button:hover{
    background-color: #ff00379a;
    box-shadow:  0px 0px 20px 5px #FF0037;
}

@media screen and (min-width: 768px) {

    .land-hero{
        margin: auto;
        min-height: 500px;
    }

    .land-hero h1{
        font-size: 40px;
    }

    .land-hero h2{
        font-size: 30px;
    }

    .land-hero p{
        opacity: 100;
    }

    .land-hero button{
        width: 300px;
        font-size: xx-large;
    }

    .land-hero button img{
        max-height: 40px;
    }

}