.maps-integration{
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: .6s ease-in-out;
}

.maps-integration.scroll{
    background-color: rgb(26, 26, 26);
}

.maps-integration.scroll h1{
    color: white;
}

.maps-integration.scroll p{
    color: white;
}

.maps-integration.scroll iframe{
    box-shadow: rgba(255, 255, 255, 0.432) 0px 0px 30px 10px;
    transition: .7s ease-in-out;
}

.maps-integration:hover iframe{
    box-shadow: rgba(255, 255, 255, 0.192) 0px 0px 30px 10px;
}
.maps-integration h1{
    color: black;
    text-align: left;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
}

.map-embed iframe{
    width: 80%;
    height: 200px;
}

.map-embed p{
    padding-left: 60px;
}

@media screen and (min-width: 768px) {
    .map-embed iframe{
        height: 400px;
    }

    .maps-integration h1{
        font-size: 30px;
    }
    .map-embed p{
        text-align: center;
        padding-left: 0;
    }
}