.land-services{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transition: .3s ease-in-out;
    overflow: hidden;
}

.land-services h2{
    padding-bottom: 10px;
    color: white;
    font-size: x-large;
    font-weight: 800;
}

.services-content{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    text-align: center;
    transition: .3s ease-in-out;
}

.service-block{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    width: 320px;
    min-height: 220px;
    border-radius: 25px;
    border-style: solid;
    border-color: #ff0037;
    background-color: rgba(5, 5, 5, 0.555);
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.507);
    transition: 1s ease-in-out;
    
}

.service-block:nth-child(odd){
    transform: translateX(120%);
}

.service-block:nth-child(even){
    transform: translateX(-120%);
}

.service-block.move{
    transform: translateX(0%);
}

.service-block img{
    max-width: 160px;
    width: auto;
    align-self: center;
    transition: .3s ease-in-out;
}

.service-block h2{
    color: white;
    font-size: 20px;
    font-weight: 650;
    margin-bottom: 0;
    line-height: 1;
    transition: .5s ease-in;
}

.service-block p{
    color: white;
    margin-top: 0;
    
}

.service-block:hover{
    padding: 10px;
    background-color: #05050534;
    box-shadow: 0px 0px 20px 10px #ff003744;
}

.service-block:hover img{
    max-height: 93px;
}

.service-block:hover h2{
    font-size: 22px;
}

.land-services:has(.service-block:hover) .services-content{
    gap: 35px;
}


@media screen and (min-width: 768px) {
    

    .land-services h2{
        font-size: xx-large;
    }


    .service-block h2{
        font-size: larger;
    }

    .service-block img{
        max-height: 100px;
    }

    .service-block:hover img{
    max-height: 113px;
}
}